/* Custom CSS for the integrated GitHub comments on articles */

#comments {
  margin-top: 30px;
}

#comments a {
  box-shadow: 0 1px;
}

.gh-comment {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  margin-top: 15px;
}

.gh-header {
  display: flex;
  align-items: center;
  background-color: var(--code-bg);
  padding: 10px;
  font-size: 85%;
}

.gh-body {
  padding: 10px 15px;
}

.gh-body > div.highlight > pre {
  background: var(--code-bg);
  padding: 10px 20px;
  font-size: 90%;
  border-radius: 5px;
}

.gh-comment p {
  margin: 0px 0px 10px 0px;
}
.gh-comment p:last-child {
  margin: 0;
}

.gh-header > img {
  width: 35px;
  height: 35px;
  border: 1px solid var(--border);
  border-radius: var(--code-bg);
  margin-right: 10px;
  vertical-align: middle;
}
