/* Custom CSS for a single post */
.post-description a {
  box-shadow: 0 1px 0;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.series-indicator p {
  font-style: italic;
  text-align: center;
}

.series-indicator p a {
  box-shadow: 0 1px 0;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.post-meta {
  font-style: italic;
  color: var(--primary);
  opacity: 0.9;
  font-size: 17px;
  display: inline;
}

.post-meta a {
  box-shadow: 0 1px 0;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
