/* Fixes for asciidoc-generated content */

.post-content .imageblock > .content {
  margin-bottom: var(--content-gap);
}

.post-content .imageblock.text-center > .content > img {
  margin: 0 auto;
}
.post-content .imageblock.text-right > .content > img {
  margin-left: auto;
}

li > .paragraph {
  margin-top: 7px;
}

/* Fixing other attributes */
.line-through {
  text-decoration: line-through;
}

/* Fixing captions */
.post-content .title {
  font-style: italic;
}

/* Fixing quote margins */
.quoteblock {
  margin: 20px 0;
}
blockquote, blockquote p {
  margin: 0 !important;
}
.quoteblock .attribution {
  margin-top: 10px;
  font-style: italic;
}

/* Basic colors: https://en.wikipedia.org/wiki/Web_colors#HTML_color_names */
.white { color: white; }
.silver { color: silver; }
.gray { color: gray; }
.black { color: black; }
.red { color: red; }
.yellow { color: yellow; }
.olive { color: olive; }
.lime { color: lime; }
.green { color: green; }
.aqua { color: aqua; }
.teal { color: teal; }
.blue { color: blue; }
.navy { color: navy; }
.fuchsia { color: fuchsia; }
.purple { color: purple; }
.white-background { background-color: white; }
.silver-background { background-color: silver; }
.gray-background { background-color: gray; }
.black-background { background-color: black; }
.red-background { background-color: red; }
.yellow-background { background-color: yellow; }
.olive-background { background-color: olive; }
.lime-background { background-color: lime; }
.green-background { background-color: green; }
.aqua-background { background-color: aqua; }
.teal-background { background-color: teal; }
.blue-background { background-color: blue; }
.navy-background { background-color: navy; }
.fuchsia-background { background-color: fuchsia; }
.purple-background { background-color: purple; }

/* Custom classes */
.txt-round {
  border-radius: 3px;
  padding: 2px 6px;
}
.txt-margin-right { margin-right: 5px; }
.txt-margin-left { margin-left: 5px; }

/* Fix selection colors for dark mode */
::selection {
  background: var(--primary);
  color: var(--theme);
}
