/* Custom CSS for the GitHub shortcode */

.gh-reference {
  white-space: nowrap;
  word-wrap: break-word;
}

.gh-icon {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 4px !important;
  fill: #57ab5a;
  overflow: visible;
}

.gh-title {
  white-space: normal;
}

.gh-number {
  font-weight: 400;
  opacity: 70%;
}
