/* Fixes for the full website */

body {
  font-family: "Merriweather", serif;
}

p {
  text-align: justify;
  hyphens: auto;
}

/* Fix selection colors for dark mode */
::selection {
  background: var(--primary);
  color: var(--theme);
}

/* No need to move the scroll to top button to the top when on mobile */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: none;
    }
}

/* Underline for menu items, too */
#menu a span {
  box-shadow: 0 1px 0;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* Fix color for metadata in post entries of the homepage */
.entry-footer a {
  color: var(--secondary);
}
