/* Fixes for the full website */

body {
  font-family: "Merriweather", serif;
  text-align: justify;
  hyphens: auto;
}

/* Fix selection colors for dark mode */
::selection {
  background: var(--primary);
  color: var(--theme);
}

/* No need to move the scroll to top button to the top when on mobile */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: none;
    }
}

/* Fixing the color for the "slogan" under the logo */
.entry-content {
  color: var(--primary);
}
