/* Custom CSS for the logo on the frontpage */

.indexlogo .darktheme,
.indexlogo .lighttheme {
 display: none;
}

[data-theme="dark"] .indexlogo .darktheme {
  display: inline;
}

[data-theme="light"] .indexlogo .lighttheme {
  display: inline;
}
