/* Custom CSS for a single post */

.series-indicator p {
  font-style: italic;
  text-align: center;
}

.series-indicator p a {
    box-shadow: 0 1px 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
