---
title: Search
description: Look for articles and browse popular tags.
layout: layouts/base.liquid
---

{% block head %}
<link crossorigin="anonymous" rel="preload" as="fetch" href="/index.json">
<script defer crossorigin="anonymous" src="/js/fuse.js"></script>
{% endblock %}

{% block footer %}
<script>
{% include "js/search.js" %}
</script>
{% endblock %}

<header class="page-header">
    <h1>{{ title }}&nbsp;<svg
            xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </h1>
</header>

<div id="searchbox">
    <input id="searchInput" autofocus placeholder="Search ↵"
        aria-label="search" type="search" autocomplete="off" maxlength="64">
    <ul id="searchResults" aria-label="search results"></ul>
</div>

<header class="page-header">
    <h2>Tags</h2>
</header>

<ul class="terms-tags">
    {% assign tags = collections | getTags %}
    {% for tag in tags %}
    <li>
          <a href="/tags/{{ tag.name }}">#{{ tag.name }} <sup><strong><sup>{{ tag.count }}</sup></strong></sup> </a>
    </li>
    {% endfor %}
</ul>
