---
layout: layouts/base.liquid
title: Subscribe to new posts
description: Subscribe to new posts in the blog
---

<article class="post-single">
  <div class="post-content">
    {% render "partials/subscribe.liquid" metadata: metadata %}
  </div>
</article>
