{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  <div class="post-content">
    <div class="about-intro">
    <img src="/me.jpg" alt="A picture of me"/>
    <p>
    I'm Mario. I love building new things, especially if they're open source!
    Currently, I work for Lyft as a backend engineer within the routing infra
    team. If you're ever taken through a crappy dirt road, that was partly my
    fault, sorry.
    </p>
    <p>
    My favorite topics are distributed systems and overall systems
    programming, for which I mostly use Rust, C++, and Python. Some noteworthy
    projects in my portfolio include:
    </p>
    </div>

    <div class="projects">
      {{ range $.Site.Data.projects.list }}
        {{ partial "project.html" . }}
      {{ end }}
    </div>

    <p>
    If you want to contact me, feel free to use any of the links listed below:
    </p>

    <p class="text-center">
    {{ $social := where $.Site.Params.socialIcons "personal" "==" true }}
    {{ $social = $social | append (dict "name" "Mail" "url" "mailto:marioortizmanero@gmail.com") }}
    {{ $social = $social | append (dict "name" "PGP keys" "url" "https://nullderef.com/pgp_keys.asc") }}
    {{ $last := sub (len $social) 1 }}
    {{ range $i, $data := $social }}
      <a href="{{ $data.url }}" target="_blank" rel="noopener noreferrer me">{{ $data.name }}</a>{{ if ne $i $last }} · {{ end }}
    {{ end }}
    </p>

    <!-- WIP Some phrases that I stand for:

    - Be bored
    - If you want something, don't wait for it or have dependencies on others. You
      never know how life changes. YOLO
    - You are 2/3s of your closest loved ones
    -->

    <h2>Other Cool Blogs</h2>

    <p>Here are some blogs that inspire me:</p>

    <ul>
      {{ range $.Site.Data.other_blogs.list }}
        {{ partial "other_blogs.html" . }}
      {{ end }}
    </ul>
  </div>

</article>

{{- end }}{{/* end main */}}
