{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  <div class="post-content">
    <p>
      Thanks! Your subscription is now confirmed. Expect to receive
      notifications about new posts from now on. If you'd like to unsubscribe,
      you can use the "Unsubscribe" link at the bottom of any email.
    </p>

    <hr>

    <p>
      Since you were cool enough to subscribe, here's a random fact 🐌:
    </p>

    <p>
      <blockquote>
        Snails can sleep for up to three years. This prolonged hibernation period
        usually occurs in response to unfavorable weather conditions, such as
        extreme dryness. During this time, snails seal themselves inside their
        shells with a layer of mucus to prevent desiccation, allowing them to
        survive without water.
      </blockquote>

      — <a href="https://www.azpetvet.com/can-certain-snails-really-sleep-for-3-years/">AZPetVet</a>
    </p>

    <p>
    </p>
  </div>

</article>

{{- end }}{{/* end main */}}
