<script>
{% render "js/githubComments.js" %}
</script>

<h2 id="comments-header">No comments yet</h2>
<p id="comments" gh-issue="{{ GHissueID }}">
  Leave a comment for this article <a href="https://github.com/marioortizmanero/nullderef.com-comments/issues/{{ GHissueID }}" target="_blank" rel="noopener noreferrer me">on GitHub</a>!
</p>
