<script>
{% include "js/githubComments.js" %}
</script>

<h2 id="comments-header" gh-issue="{{ GHissueID }}">No comments yet</h2>
<p id="comments">
  Leave a comment for this article <a href="https://github.com/marioortizmanero/nullderef.com-comments/issues/{{ GHissueID }}" target="_blank" rel="noopener noreferrer me">on GitHub</a>!
</p>
