<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="/" accesskey="h" title="{{ metadata.title | escape }} (Alt + H)">{{ metadata.title }}</a>
    </div>

    <ul id="menu">
      <li>
        <a href="/about" title="About">
          <span{% if page.fileSlug == "about" %} aria-current="page"{% endif %}>About</span>
        </a>
      </li>
      <li>
        <a href="/series" title="Series">
          <span{% if page.fileSlug == "series" %} aria-current="page"{% endif %}>Series</span>
        </a>
      </li>
      <li>
        <a href="/search" title="Search (Alt + /)" accesskey="/">
          <span{% if page.fileSlug == "search" %} aria-current="page"{% endif %}>Search</span>
        </a>
      </li>
      <li>
        <a href="https://chat.nullderef.com" title="Let's chat!">
          <span>Let's chat!</span>&nbsp;<svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12"><path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path><path d="M15 3h6v6"></path><path d="M10 14L21 3"></path></svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
