{{- with site.Params.homeInfoParams }}
{{- /* CUSTOM: replace `article` tag with `div` */}}
<div class="first-entry home-info">
    {{- /* CUSTOM: support both light and dark theme logo */}}
    <header class="entry-header">
        {{- with .Title }}
          <h1>{{ . | markdownify }}</h1>
        {{- end }}
        <div class="indexlogo">
          {{- with .LogoLight }}
            <img loading="lazy" alt="NullDeref" class="ligththeme" src="{{ . }}"/>
          {{- end }}
          {{- with .LogoDark }}
            <img loading="lazy" alt="NullDeref" class="darktheme" src="{{ . }}"/>
          {{- end }}
        </div>
    </header>
    <div class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</div>
{{- end -}}
