{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{/* CUSTOM: hide the author in the homepage */}}
{{- if not (or (.Param "hideAuthor") (.Scratch.Get "hideAuthor")) -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{/* CUSTOM: simpler metadata, with support for series indicator */}}
{{- if .Params.series }}
{{- $thisSeries := index .Params.series 0 }}
{{- $thisSeriesPage := site.GetPage (printf "series/%s" $thisSeries | urlize) }}
{{- $scratch.Add "meta" (printf "Part of the series [\"%s\"](%s)" $thisSeriesPage.Title $thisSeriesPage.Permalink | markdownify) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;&nbsp;·&nbsp;&nbsp;" | safeHTML -}}
{{- end -}}
