.content-warning {
  font-size: 14px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--radius);
  border: 2px solid #abc;
  margin-bottom: var(--content-gap);
  gap: 4px;
}
.gallery img {
  flex: 1;
  max-width: 100%;
  height: auto;
  border-radius: 0;
  margin-bottom: 0;
}

.art-container img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}
.art-container details {
  background: var(--code-bg);
  width: 100%;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.art-container summary {
  padding: 1rem;
  cursor: pointer;
}
.art-description {
  padding: 1rem;
  border-top: 1px solid var(--tertiary);
  font-style: italic;
}
.art-description .author {
  text-align: right;
  display: inline-block;
  width: 100%;
}

.sticky-iframe {
  position: sticky;
  top: 8px;
  background-color: var(--theme);
  outline: 8px solid var(--theme);
}
