<!DOCTYPE html>
<html lang="{{ metadata.language }}"
  domain="{{ metadata.domain }}"
  ga-id="{{ metadata.googleAnalyticsId }}" >

  <head>
    {% render "partials/head.liquid"
        author: author
        collections: collections
        date: date
        description: description
        eleventy: eleventy
        env: env
        image: image
        imageAlt: imageAlt
        keywords: keywords
        layout: layout
        metadata: metadata
        page: page
        series: series
        tags: tags
        title: title %}
  </head>

  <body id="top" class="dark">
    {% render "partials/header.liquid"
        metadata: metadata
        page: page %}

    <main class="main">
        {{ content }}
    </main>

    {% render "partials/footer.liquid" metadata: metadata %}
  </body>

</html>
