<!DOCTYPE html>
<html lang="{{ metadata.language }}"
  domain="{{ metadata.domain }}"
  ga-id="{{ metadata.googleanalytics }}" >

<head>
    {% include "partials/head.liquid" %}
</head>

<body id="top" class="dark">
    {% include "partials/header.liquid" %}

    <main class="main">
        {{ content }}
    </main>

    {% include "partials/footer.liquid" %}
</body>

</html>
